.counterDays {
  display: flex;
  // justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #ff5a66;
  width: 500px;
  height: 600px;
  border-radius: 4px;

  h1 {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 40px 0 60px 0;
  }
}
