.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  .week {
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    width: 60%;
    align-items: center;
    text-align: center;
    // background-color: yellow;

    .btn {
      display: inline-block;
      width: 80px;
      height: 30px;
      margin: 10px;
      // background-color: red;
    }
  }

  p {
    display: inline-block;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    width: 60px;
  }

  .weeks {
    width: 60%;
    height: 40px;
    display: flex;
    align-content: centre;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    letter-spacing: 0.1rem;
    font-weight: 500;
    margin: auto;
    background-color: #ffffff;
  }
  p {
    width: 100%;
  }
}
